# VCS
.git
.gitignore
.gitattributes

# Go build, test and release artifacts
.goreleaser-dist
*.test
**/*.test
build

# Node build artifacts and dependencies
**/node_modules
**/dist
**/test-results
**/playwright-report

# Local runtime data (sessions)
**/data

# Not needed to build demo/paint
docs
examples
scripts
docker-compose.yml
demo/paint/proxy
demo/web
